In [1]:
# list comprension

b=[]
for i in range(5):
    if i%2==0:
        b.append(i)
print(b)

[0, 2, 4]

In [4]:
b=[i for i in range(5) if i%2==0]
print(b)

[0, 2, 4]

In [ ]:
# task 1 print all number b/w 1 to 1000 which is divisible by 7
b=[i for i in range(1000) if i %7==0]
print(b)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [10]:
# task 2 print all the number b/w 1-1000 which have 3 in them
a=[i for i in range(1000) if '3' in str(i) ]
print(a)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [15]:
# task 3 count all the number of spaces in a string
a="yellow yaks like yelling and yawing ans yestarday they yodled while eating yuky ytams"
b=sum([ 1 for i in a if i==" "])
print(b)

13

In [ ]:
# task 4  make a list of all the 
a="yellow yaks like yelling and yawing ans yestarday they yodled while eating yuky ytams"
b="aiouAEIOU"
c=[i for i in a if i not in b]
print(c)

['y', 'e', 'l', 'l', 'w', ' ', 'y', 'k', 's', ' ', 'l', 'k', 'e', ' ', 'y', 'e', 'l', 'l', 'n', 'g', ' ', 'n', 'd', ' ', 'y', 'w', 'n', 'g', ' ', 'n', 's', ' ', 'y', 'e', 's', 't', 'r', 'd', 'y', ' ', 't', 'h', 'e', 'y', ' ', 'y', 'd', 'l', 'e', 'd', ' ', 'w', 'h', 'l', 'e', ' ', 'e', 't', 'n', 'g', ' ', 'y', 'k', 'y', ' ', 'y', 't', 'm', 's']

In [25]:
# task 5 get the index and value as a tuple for items ina list
a=["hi",4,8.99,'apple',('t,b','n')]
b=[(index,value) for index ,value in enumerate(a) ]
c=[(i,a[i]) for i in range(len(a))]
print(tuple(c))
print(b)

((0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n')))
[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

In [17]:
# task 6 find the comman value in two list(without using set and tuple)
a=[1,2,3,4,5]
b=[2,4,5,7,8]
c=[i for i in a if i in b]
print(c)

[2, 4, 5]

In [27]:
# task 7 get only the number in sentence like 
# in 1984 there are 13 instances of a protest with over 1000 people attending
a="in 1984 there are 13 instances of a protest with over 1000 people attending"
b=[int(i) for i in a.split() if i.isdigit()]
print(b)

[1984, 13, 1000]

In [26]:
# task 8 given number range(20 produce a list )

b=["even" if i%2==0 else "odd " for i in range(20)]
print(b)

['even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ', 'even', 'odd ']

In [31]:
# task 9  produce a list of tuple consisting of only matching number in these
 
a=[1,2,3,4,5,6]
b=[4,5,9,7]
c=[(i,i) for i in a if i in b]
print(c)

[(4, 4), (5, 5)]

In [32]:
#  task 10 find all the word ina string that are less than 4 letters
a="vishal is bad boy"
b=[i for i in a.split() if len(i)<4]
print(b)

['is', 'bad', 'boy']

In [35]:
# task 11 use the nested list comprension to find al the number from 1-10000 that are divisible by any single digit besides 1 (2-9)
divisors = [2,3, 4, 5, 6, 7, 8,9]  

result = [i for i in range(1000) if any(i % divisor == 0 for divisor in divisors)]

print(result)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 188, 189, 190, 192, 194, 195, 196, 198, 200, 201, 202, 203, 204, 205, 206, 207, 208, 210, 212, 213, 214, 215, 216, 217, 218, 219, 220, 222, 224, 225, 226, 228, 230, 231, 232, 234, 235, 236, 237, 238, 240, 242, 243, 244, 245, 246, 248, 249, 250, 252, 254, 255, 256, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 270, 272, 273, 274, 275, 276, 278, 279, 280, 282, 284, 285, 286, 287, 288, 290, 291, 292, 294, 295, 296, 297, 298, 300, 301, 302, 303, 304, 305, 306, 308, 309, 310, 312, 314, 315, 316, 318, 320, 321, 322, 324, 325, 326, 327, 328, 329, 330, 332, 333, 334, 335, 336, 338, 339, 340, 342, 343, 344, 345, 346, 348, 350, 351, 352, 354, 355, 356, 357, 358, 360, 362, 363, 364, 365, 366, 368, 369, 370, 371, 372, 374, 375, 376, 378, 380, 381, 382, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 398, 399, 400, 402, 404, 405, 406, 408, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 422, 423, 424, 425, 426, 427, 428, 429, 430, 432, 434, 435, 436, 438, 440, 441, 442, 444, 445, 446, 447, 448, 450, 452, 453, 454, 455, 456, 458, 459, 460, 462, 464, 465, 466, 468, 469, 470, 471, 472, 474, 475, 476, 477, 478, 480, 482, 483, 484, 485, 486, 488, 489, 490, 492, 494, 495, 496, 497, 498, 500, 501, 502, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 518, 519, 520, 522, 524, 525, 526, 528, 530, 531, 532, 534, 535, 536, 537, 538, 539, 540, 542, 543, 544, 545, 546, 548, 549, 550, 552, 553, 554, 555, 556, 558, 560, 561, 562, 564, 565, 566, 567, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 582, 584, 585, 586, 588, 590, 591, 592, 594, 595, 596, 597, 598, 600, 602, 603, 604, 605, 606, 608, 609, 610, 612, 614, 615, 616, 618, 620, 621, 622, 623, 624, 625, 626, 627, 628, 630, 632, 633, 634, 635, 636, 637, 638, 639, 640, 642, 644, 645, 646, 648, 650, 651, 652, 654, 655, 656, 657, 658, 660, 662, 663, 664, 665, 666, 668, 669, 670, 672, 674, 675, 676, 678, 679, 680, 681, 682, 684, 685, 686, 687, 688, 690, 692, 693, 694, 695, 696, 698, 699, 700, 702, 704, 705, 706, 707, 708, 710, 711, 712, 714, 715, 716, 717, 718, 720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 732, 734, 735, 736, 738, 740, 741, 742, 744, 745, 746, 747, 748, 749, 750, 752, 753, 754, 755, 756, 758, 759, 760, 762, 763, 764, 765, 766, 768, 770, 771, 772, 774, 775, 776, 777, 778, 780, 782, 783, 784, 785, 786, 788, 789, 790, 791, 792, 794, 795, 796, 798, 800, 801, 802, 804, 805, 806, 807, 808, 810, 812, 813, 814, 815, 816, 818, 819, 820, 822, 824, 825, 826, 828, 830, 831, 832, 833, 834, 835, 836, 837, 838, 840, 842, 843, 844, 845, 846, 847, 848, 849, 850, 852, 854, 855, 856, 858, 860, 861, 862, 864, 865, 866, 867, 868, 870, 872, 873, 874, 875, 876, 878, 879, 880, 882, 884, 885, 886, 888, 889, 890, 891, 892, 894, 895, 896, 897, 898, 900, 902, 903, 904, 905, 906, 908, 909, 910, 912, 914, 915, 916, 917, 918, 920, 921, 922, 924, 925, 926, 927, 928, 930, 931, 932, 933, 934, 935, 936, 938, 939, 940, 942, 944, 945, 946, 948, 950, 951, 952, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 965, 966, 968, 969, 970, 972, 973, 974, 975, 976, 978, 980, 981, 982, 984, 985, 986, 987, 988, 990, 992, 993, 994, 995, 996, 998, 999]

In [37]:
# dictionary comprension
d={i:i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [40]:
# task 1 convert two list  into a dictionary

a=[1,2,3,4]
b=['a','b','c','d']

c={a[i]:b[i] for i in range(len(a))}
print(c)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
# invert a dictionary
z={"a":"vis","v":"12"}
d={value: key for key, value in z.items()}
print(z)

{'a': 'vis', 'v': '12'}

In [50]:
# task 3 count occrance of chracter in word for given string create a dictionary with chractor count
s="banana"
d={i:s.count(i) for i in s}
print(d)

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
# task 4 merge two dictionary (add items if keys match)
d1={"a":1,"b":5,"c":3}
d2={"a":1,"b":5,"c":3,"d":7}

d3={i: d1.get(i,0)+d2.get(i,0) for i in d2}
d3

{'a': 2, 'b': 10, 'c': 6}

In [ ]:
# map() ,reduce(),filter()
# map(func,iter)

# print area of circle of each radius
l=[1,2,3,4,5]
list(map(lambda a: 3.14*a**2,l))

[3.14, 12.56, 28.26, 50.24, 78.5]

In [55]:
#  filter(func,data)
a=[1,2,3,4,5,6]
list(filter(lambda i :i%2==0,a))

[2, 4, 6]

In [56]:
# 
from functools import reduce

numbers = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x + y, numbers, 10)
print(result)  # Output: 25

25

In [ ]:
city=['abc','abcs','ass','asd','']
list(filter(None,city))

['abc', 'abcs', 'ass', 'asd']

In [58]:
# tasks

# 1 square of each number in a list
l=[1,2,3,4]
list(map(lambda a:a**2,l))

[1, 4, 9, 16]

In [ ]:
# task 2-> convert a list into upercase
l=['abc','vishal','mahima,mitha']
list(map(lambda a: a.upper(),l))

['ABC', 'VISHAL', 'MAHIMA,MITHA']

In [61]:
# task 3-> 
a=[1,2,3,4,5]
b=[1,2,3,4,5]
list(map(lambda x,y: x+y ,a,b))

[2, 4, 6, 8, 10]

In [62]:
a=[1,2,3,4,5]
b=[10,20,30,40,5]
c=[100,200,300,400,500]
list(map(lambda x,y,z: x+y+z ,a,b,c))

[111, 222, 333, 444, 510]

In [63]:
# filter task 
# 1-> filter all even num,ber in list
l=[12,3,4,5,6,8]
list(filter(lambda a:a%2==0,l))

[12, 4, 6, 8]

In [64]:
# 2--> fliter a list of words with length>4
l=['abc','vishal','mahima,mitha']
list(filter(lambda a:len(a)>4,l))

['vishal', 'mahima,mitha']

In [ ]:
# 3-->> filter out empty string 
city=['abc','abcs','ass','asd','']
list(filter(lambda a: a=="",city))

['']

In [75]:
# 4-> filter out prime number in a list
def prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
l = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
list(filter(prime,l))

[2, 3, 5, 7, 11, 13]

In [ ]:
# task 1-> concatenate a string list of string using reduce
from functools import reduce


s= ["Hello", " ", "World", "!"]


con = reduce(lambda x, y: x + y, s)

print(con)

Hello World!

In [81]:
# task 2--> find the maximum fomr a list
from functools import reduce

l = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
reduce(lambda a,b: max(a,b),l)

15

In [ ]:
hash('1,2,3')

-5629630787780590599

In [89]:
# maths module
import math
print(math.pow(12,2))

print(math.sqrt(9))
print(math.floor(1.3))

144.0
3.0
1

In [93]:
import statistics
l=[1,2,3,4,5,6,7,8,9]
print(statistics.mean(l))
print(statistics.mode(l))
print(statistics.median(l))
print(statistics.stdev(l))

5
1
5
2.7386127875258306

In [32]:
import random
l=[1,2.3,4,5]
# print(random.choices(l))
print(random.seed())

None

In [ ]:
import os
# print(os.getcwd)
# os.chdir('C:/Users/gauth/module')
#os.mkdir('name)
os.start('text.txt').st_size

<built-in function getcwd>

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:/Users/gauth/module'

In [40]:
import time
print(time.time())
print(time.ctime())
time.sleep(2)
print("hello")

# time formate
print(time.strftime("%Y-%m-%D %h:%M:%S",time.localtime()))

1744024187.7203708
Mon Apr  7 16:39:47 2025
hello
2025-04-04/07/25 Apr:39:49

In [ ]:
# time tasks calculate the time required to complete a process

In [2]:
#  display current time every second

import time

while True:       
    current_time = time.strftime("%H:%M:%S")
    print("Current Time:", current_time)
    time.sleep(1)

Current Time: 17:06:42
Current Time: 17:06:43
Current Time: 17:06:44
Current Time: 17:06:45

KeyboardInterrupt:

In [11]:
from datetime import datetime
now = datetime.now()


current_year = now.year
current_month = now.strftime("%B") 

print(f"Year: {current_year}, Month: {current_month}")

Year: 2025, Month: April

In [ ]:
# datetime tasks
# task --> print current time
from datetime import datetime
print(datetime.now().time())

17:23:29.583659

In [ ]:
# 2-> print days until a specific date

from datetime import datetime

def days_until(target_date):
    today = datetime.today()
    target_date = datetime.strptime(target_date, "%Y-%m-%d")
    delta = target_date - today
    return delta.days


target_date = "2025-04-25"
print(days_until(target_date))

17

In [46]:
# 3--> convert a user input from yyyy-mm-dd to dd-mm-yyy


def con(date_str):
  
    year, month, day = date_str.split()
 
    return f"{day}-{month}-{year}"


input_date = "2025 04 07"

print(con(input_date))

07-04-2025

In [48]:
import random
import string

# Sample data for names
first_names = ["Aarav", "Vivaan", "Aditya", "Vihaan", "Arjun", "Sai", "Ananya", "Diya", "Ishita", "Meera"]
last_names = ["Sharma", "Verma", "Reddy", "Nair", "Patel", "Gupta", "Kumar", "Singh", "Das", "Rao"]

# Function to generate a random phone number
def generate_phone_number():
    return f"+91 {random.randint(6000000000, 9999999999)}"

# Function to generate a random email based on name
def generate_email(first_name, last_name):
    domains = ["gmail.com", "yahoo.com", "outlook.com", "hotmail.com"]
    return f"{first_name.lower()}.{last_name.lower()}@{random.choice(domains)}"

# Function to generate random age
def generate_age():
    return random.randint(18, 60)

# Generate 10 random entries
for _ in range(10):
    first_name = random.choice(first_names)
    last_name = random.choice(last_names)
    age = generate_age()
    phone_number = generate_phone_number()
    email = generate_email(first_name, last_name)
    
    print(f"Name: {first_name} {last_name}, Age: {age}, Phone: {phone_number}, Email: {email}")

Name: Aditya Gupta, Age: 36, Phone: +91 7397215123, Email: aditya.gupta@outlook.com
Name: Aarav Gupta, Age: 52, Phone: +91 6732432746, Email: aarav.gupta@hotmail.com
Name: Aarav Sharma, Age: 39, Phone: +91 9302491521, Email: aarav.sharma@outlook.com
Name: Vivaan Singh, Age: 47, Phone: +91 6596963972, Email: vivaan.singh@hotmail.com
Name: Aditya Rao, Age: 44, Phone: +91 8714181006, Email: aditya.rao@yahoo.com
Name: Aarav Patel, Age: 29, Phone: +91 9975563084, Email: aarav.patel@hotmail.com
Name: Vivaan Nair, Age: 59, Phone: +91 9843667460, Email: vivaan.nair@hotmail.com
Name: Ananya Rao, Age: 23, Phone: +91 8585510471, Email: ananya.rao@outlook.com
Name: Arjun Singh, Age: 35, Phone: +91 8479701994, Email: arjun.singh@yahoo.com
Name: Vivaan Das, Age: 32, Phone: +91 9048045100, Email: vivaan.das@yahoo.com