In [5]:
import re

print(re.findall(r'a.b','abc a_b  a b  abs'))

['a_b', 'a b']

In [4]:
print(re.findall(r'^hello','hello world'))

['hello']

In [6]:
print(re.findall(r'world$','hello world'))

['world']

In [9]:
print(re.findall(r'abs*','ab abbb abb a'))

['ab', 'ab', 'ab']

In [ ]:
print(re.findall(r'a{2}','a aa aa aaaaa')) # repetion

['aa', 'aa', 'aa', 'aa']

In [ ]:
print(re.findall(r'[aeiou]','a aa aa aaaaa eo')) #find all the vowel charactor

['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'e', 'o']

In [ ]:
s='VIS25001'

pat='[A-Z]{3}[0-9]{2}[0-9]{3}'

print(re.match(pat,s))

<re.Match object; span=(0, 8), match='VIS25001'>

In [ ]:
import re

txt="the rain in spain"
x=re.findall('ab',txt)
print(x)  # if not find it return empty list

[]

In [17]:
import re

txt="the rain in spain "
x=re.search("rain",txt)

if x: 
    print("in txt")
else:
    print("not match")

in txt

In [19]:
import re
txt="the rain in spain"

x=re.split("\s",txt)
print(x)

['the', 'rain', 'in', 'spain']

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\vishal.kumar33\AppData\Local\Temp\ipykernel_11568\266424581.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.split("\s",txt)

In [33]:
import re
txt="the rain in spain ram" 

x=re.split(" ",txt,3)
print(x)

['the', 'rain', 'in', 'spain ram']

In [ ]:
import re
txt="the rain in spain"

x=re.sub('the','is',txt)
print(x)

is rain in spain

In [40]:
import re
txt="the rain in spain"

x=re.sub(' ','9',txt,2)
print(x)

the9rain9in spain

In [ ]:
import re

st="this is a #string with %specail^ chracters!"
pat=r'[^a-z0-9\s]+'
#  replace all non alphanumareic charactor and white spaces with 
new_st=re.sub(pat,'',st)
print(new_st)

this is a string with specail chracters

In [53]:
s='helo vishal!.'
pat=r'[.$]'
x=re.search(pat,s)
if x:
    print("True")
else:
    print("False")

True

In [ ]:
import re
s='i have 12 apple and 20 bananas'


print(re.findall(r'\d+',s))

['12', '20']

In [ ]:
import re

s='hi say hi to everyone'
print(re.match('hi',s)) # match find 

print(re.search('hi',s))

<re.Match object; span=(0, 2), match='hi'>
<re.Match object; span=(0, 2), match='hi'>

In [81]:
import re

text='my number in 1956 and my fruiend is 1234 '

first=re.search(r'\d+',text)
print("first match = ",first.group())

all_match=re.findall(r'\d+',text)
print("all matches = ",all_match)

first match =  1956
all matches =  ['1956', '1234']

In [88]:
text="Python is Developed by guido van rossum in neitherlands"

pat=re.findall(r'\b[A-Z][a-z]+\b',text)
print("cap_words:",pat)

cap_words: ['Python', 'Developed']

In [ ]:
def dou(match):
    num=int(match.group())
    return str(num*2)

text="the cost is 5 dollar and 7 cents"
rs=re.sub(r'\d+',dou,text)
print(rs)

the cost is 10 dollar and 14 cents

In [91]:
text="you are such a fool and dummy"

bad_word=r'\bfool|dummy\b'
con=re.sub(bad_word,'[consenerd]',text)
print(con)

you are such a [consenerd] and [consenerd]

In [103]:
text="name:john , age:30"

match=re.search(r"name:(\w+) , age:(\d+)",text)

if match:
    print("full match:",match.group(0))
    print("name:",match.group(1))
    print("age:",match.group(2))

full match: name:john , age:30
name: john
age: 30

In [ ]:
import re
text="apple,banana;grapes orange"

res=re.split(r'[;,\s]+',text)
print(res)

['apple', 'banana', 'grapes', 'orange']

In [120]:

txt='one-two-three-four'
resi=re.split(r'-',txt,maxsplit=2)
print(resi)

['one', 'two', 'three-four']

In [119]:
import re
res=re.subn(r'\d+','#','123 456 789' )
print(res)

('# # #', 3)

In [126]:
regex = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
if re.match(regex, 'vishal234@gmail.com'):
        print(True)
else:
        print(False)

True

In [135]:
import re
text="python1234"
print(re.match(r'python',text))
print(re.match(r'\d+',text))

# full

print(re.fullmatch(r'python\d+',text))
print(re.fullmatch(r'python',text))

#  serch
print(re.search(r'\d+',text))

<re.Match object; span=(0, 6), match='python'>
None
<re.Match object; span=(0, 10), match='python1234'>
None
<re.Match object; span=(6, 10), match='1234'>

In [139]:
text=input("Enter email id")
ch=r'\w+@\w+\.\w{2}'
e=re.search(ch,text)
if e:
    print("Match")
else:
    print("Not Match")

Not Match

In [150]:
import re
text="python 3.8 was realesd in 2019, and py 3.9 in 2020"

pat=re.finditer(r'python \d\.\d',text)

for match in pat:
    print("found ",match.group(),"at postion ",match.span())

found  python 3.8 at postion  (0, 10)

In [152]:
import re
 
txt='Email: hello@example.com'
 
match=re.search(r'\w+@\w+\.\w+',txt)
if match:
    print('Matched text:',match.group())
    print('Start index:',match.start())
    print('End index:',match.end())
    print('Span index:',match.span())

Matched text: hello@example.com
Start index: 7
End index: 24
Span index: (7, 24)

In [ ]:
import re
text="hello world"

pat=re.compile(r'hello',re.IGNORECASE)

match=pat.search(text)
print(match.group())

hello

In [ ]:
import re
text="hello\nWorld"
pat=re.compile(r'hello.world',re.DOTALL)

match=pat.search(text)
print(match.group())

AttributeError: 'NoneType' object has no attribute 'group'

In [168]:
import re
 
pattern= re.compile(r'''
^
    [A-Za-z0-9._%+-]+
    @
    [A-Za-z0-9.-]+
    \.
    [A-Za-z]{2,}
    $''',re.VERBOSE)
 
txt="user@example.com"
 
match=pattern.match(txt)
print(match.group() if match else 'No match')

user@example.com

In [171]:

pattern = re.compile(r'\w+',re.ASCII)
 
print(pattern.findall("café café"))

['caf', 'caf']

In [175]:
t=[1,2,3,4]
t2=[9,4,5,6]
print(t.append(t2))

None

In [187]:
l=[[p,q] for p in(0,4) for q in(0,4)]
print(l)

[[0, 0], [0, 4], [4, 0], [4, 4]]

In [185]:
def fun(name,age):
    print(name,age)
fun(name="emma",age=23)

emma 23

In [193]:
l=[23,45,65,32,3]
l.insert(4,"moni")
print(l)

[23, 45, 65, 32, 'moni', 3]

In [1]:
li=['apple','banana','cherry']
l2=li.sort()