In [ ]:
#array
#data structure
#list->[]
#tuple->()
#dict->{key-value -pair}
#set-{}

In [7]:
#list
a=[1,2,'abc',4,5]
print(a)

a[2]='vishal'
print(a)

[1, 2, 'abc', 4, 5]
[1, 2, 'vishal', 4, 5]

In [17]:
#slicing
b=[1,2,3,4,5,6,7]
b[2:4]
b[-1]# last index   neagtive index
b[::-1] # reverse
len(b)
print(b.count(2))

1

In [24]:
city=['chennai-guindy' ,'mumbai','delhi']
city[0][8:]# taking the index of elemnt till last double indexing
print(len(city[1]))
area=city[0][8:]
print(area)

6
guindy

In [28]:
li=[[1,2],['abc','xyz',[999,998]]]
li[1][2][0]

999

In [40]:
c=[1,2,3,4,5]
c.append(7)#last main add hoga
c.insert(2,34)
s=c.index(5)
c.remove(5)
c.pop()
#c.clear()
c.extend([8,9])# it extends the list without making nested list
print(c)
c[::-2]#revrse and skiping

[1, 2, 34, 3, 4, 8, 9]

[9, 4, 34, 1]

In [43]:
e=[]
for i in range(1,50):
    if i>1:
        for j in range(2,i):
            if(i%j==0):
                break
        else:
            e.append(i)
print(e)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [44]:
# print the list element which element have more than  3 length
aq=['vishal','kumar','start','ab','ram']
ae=[]
for i in aq:
    if len(i)>3:
        ae.append(i)
print(ae)

['vishal', 'kumar', 'start']

In [ ]:
# max,min,sum,mean,mod;  
a=[1,2,32,4,5,6]

In [ ]:
name=['vishal','mahima','seenu','prince']
principal=[10000,50000,20000,600000]
time=[2,5,7,4]
rate=[11,12,12,11]

for n,p,r,t in zip(name,principal,rate,time):
    si=(p*r*t)/100
    print(f'{n}: principal = {p},rate={r},time = {t} years Si ={si} ')




l

vishal: principal = 10000,rate=11,time = 2 years Si =2200.0
mahima: principal = 50000,rate=12,time = 5 years Si =30000.0
seenu: principal = 20000,rate=12,time = 7 years Si =16800.0
prince: principal = 600000,rate=11,time = 4 years Si =264000.0

In [ ]:
nums=[2,7,11,15]
n=len(nums)
ax=[]
target=9
for i in range(n-1):
    for j in range(i+1 ,n):
        if nums[i]+nums[j]==target:

In [55]:
#copy method
a=[3,4]
b=a.copy()
b+=[5,6]
print(a)
print(b)

[3, 4]
[3, 4, 5, 6]

In [ ]:
a=[3,4,[999,998]]
b=a.copy()#-->shallow copy
b[2].append(1000)
print(b)
print(a)

[3, 4, [999, 998, 1000]]
[3, 4, [999, 998, 1000]]

In [ ]:
import copy
#-->deep copy
a=[3,4,[999,998]]
b=copy.deepcopy(a)
b[2].append(1000)
print(b)
print(a)

[3, 4, [999, 998, 1000]]
[3, 4, [999, 998]]

In [62]:
d={
    'name':'abc',
    'class':12,
    'height':5.11,

}
print(d)
d.get('name')

{'name': 'abc', 'class': 12, 'height': 5.11}

'abc'

In [69]:
a={}
n=int(input("enter the key value pair"))
for i in range(n):
    key=input("enter the key")
    value=input("enter the value")
    a[key]=value
print(a)

{'name': 'vishal', 'class': '12'}

In [67]:
a=[]
n=int(input("enter the length of list"))
for i in range(0,n):
   b=input("enter the elemet")
   a.append(b)
print(a)

['1', '2', '3', '4', '5']

In [68]:
a=[]
n=int(input("enter the length of list"))
for i in range(0,n):
   b=input("enter the elemet")
   a.append(b)
c=tuple(a)
print(c)

('1', '2', '3', '4', '5')

In [ ]:
a=['name','class','add']
b=['vishal', 12,12]
c=zip(a,b)
#print(list(c))
print(dict(c))

[('name', 'vishal'), ('class', 12), ('add', 12)]
{}

In [95]:
d={
    'name':'abc',
    'class':12,
    'height':5.11,

}
print(d.keys())
print(d.items())
print(d.popitem())
print(d)

dict_keys(['name', 'class', 'height'])
dict_items([('name', 'abc'), ('class', 12), ('height', 5.11)])
('height', 5.11)
{'name': 'abc', 'class': 12}

In [89]:
a=['name','class','add','gender','height']
b={a:len(a) for a in a}
print(b)

{'name': 4, 'class': 5, 'add': 3, 'gender': 6, 'height': 6}

In [94]:
a="Apple Inc. is an American multinational corporation and technology company headquartered in Cupertino, California, in Silicon Valley. It is best known for its consumer electronics, software, and services . Founded in 1976 as Apple Computer Company by Steve Jobs, Steve Wozniak and Ronald Wayne, the company was incorporated by Jobs and Wozniak as Apple Computer, Inc. the following year. It was renamed Apple Inc. in 2007 as the company had expanded its focus from computers to consumer electronics. Apple is the largest technology company by revenue, with US$391.04 billion in the 2024 fiscal year"
b=set(map(str,a.split(" ")))
c={}
for i in b:
    c[i]=a.count(i)

print(c)

{'is': 4, 'Wozniak': 2, 'Wayne,': 1, 'following': 1, 'fiscal': 1, 'Silicon': 1, 'Cupertino,': 1, 'consumer': 2, 'Steve': 2, 'services': 1, 'billion': 1, 'incorporated': 1, 'Jobs,': 1, 'the': 5, 'best': 1, 'in': 9, 'for': 2, 'Computer,': 1, 'year.': 1, 'had': 1, 'was': 2, 'with': 1, 'electronics,': 1, 'multinational': 1, 'by': 3, 'from': 1, '1976': 1, 'Inc.': 3, 'an': 12, 'headquartered': 1, 'and': 5, 'Computer': 2, 'revenue,': 1, 'corporation': 1, 'technology': 2, 'to': 1, 'renamed': 1, '2024': 1, 'American': 1, 'known': 1, 'California,': 1, 'computers': 1, 'as': 5, 'its': 2, 'electronics.': 1, 'company': 4, 'Jobs': 2, 'largest': 1, 'software,': 1, 'expanded': 1, 'US$391.04': 1, 'Founded': 1, 'Company': 1, 'It': 2, 'Ronald': 1, 'year': 2, 'focus': 1, '2007': 1, 'Valley.': 1, '.': 8, 'Apple': 5}

In [98]:
d={'a':5,
   'b':15,
   'c':45,
   'd':6}

d2={key: value for key,value in d.items()  if value>10}
print(d2)

{'b': 15, 'c': 45}

In [ ]:
#sets--> do not alows duplicates entries
#union of two sets
a={1,2,3,4,5}
b={1,2,3,6,7,8}
print(a|b) # | is a union operator
a.union(b)# function of union 

print(a&b) # & is a in tersection opertor
a.intersection(b) # intersection using function

# set diffrence
print(a-b) 
print(b-a)
 # symmetric difrence 
print(a^b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{8, 6, 7}
{4, 5, 6, 7, 8}

In [110]:
a={1,2,3,4,5}
b={1,2}
b.issubset(a)
a.issuperset(b)

True

In [112]:
a={1,2,3,4,5}
b=list(a)
b.append(7)
a=set(b)
print(a)
print(type(a))

{1, 2, 3, 4, 5, 7}
<class 'set'>

In [120]:
a=[1,2,3,4,5]
b=[1,2,3,4,5,6,7,8,9]
c=[1,2,3,4,5,8,9,10,11]
q=set(a)
d=set(b)
e=set(c)
print(q&d&e)

{1, 2, 3, 4, 5}

In [122]:
a="Apple Inc. is an American multinational corporation and technology company headquartered in Cupertino, California, in Silicon Valley. It is best known for its consumer electronics, software, and services . Founded in 1976 as Apple Computer Company by Steve Jobs, Steve Wozniak and Ronald Wayne, the company was incorporated by Jobs and Wozniak as Apple Computer, Inc. the following year. It was renamed Apple Inc. in 2007 as the company had expanded its focus from computers to consumer electronics. Apple is the largest technology company by revenue, with US$391.04 billion in the 2024 fiscal year"
b=set(map(str,a.split(" ")))
print(b)

{'is', 'Wozniak', 'Wayne,', 'following', 'fiscal', 'Silicon', 'Cupertino,', 'consumer', 'Steve', 'services', 'billion', 'incorporated', 'Jobs,', 'the', 'best', 'in', 'for', 'Computer,', 'year.', 'had', 'was', 'with', 'electronics,', 'multinational', 'by', 'from', '1976', 'Inc.', 'an', 'headquartered', 'and', 'Computer', 'revenue,', 'corporation', 'technology', 'to', 'renamed', '2024', 'American', 'known', 'California,', 'computers', 'as', 'its', 'electronics.', 'company', 'Jobs', 'largest', 'software,', 'expanded', 'US$391.04', 'Founded', 'Company', 'It', 'Ronald', 'year', 'focus', '2007', 'Valley.', '.', 'Apple'}

In [126]:
a="Apple Inc. is an American multinational corporation and technology company headquartered in Cupertino, California, in Silicon Valley. It is best known for its consumer electronics, software, and services . Founded in 1976 as Apple Computer Company by Steve Jobs, Steve Wozniak and Ronald Wayne, the company was incorporated by Jobs and Wozniak as Apple Computer, Inc. the following year. It was renamed Apple Inc. in 2007 as the company had expanded its focus from computers to consumer electronics. Apple is the largest technology company by revenue, with US$391.04 billion in the 2024 fiscal year"
b={'a','e','i','o','u','A','E','I','O','U'}
res=''.join(char for char in a if char not in b)
print(res)

ppl nc. s n mrcn mltntnl crprtn nd tchnlgy cmpny hdqrtrd n Cprtn, Clfrn, n Slcn Vlly. t s bst knwn fr ts cnsmr lctrncs, sftwr, nd srvcs . Fndd n 1976 s ppl Cmptr Cmpny by Stv Jbs, Stv Wznk nd Rnld Wyn, th cmpny ws ncrprtd by Jbs nd Wznk s ppl Cmptr, nc. th fllwng yr. t ws rnmd ppl nc. n 2007 s th cmpny hd xpndd ts fcs frm cmptrs t cnsmr lctrncs. ppl s th lrgst tchnlgy cmpny by rvn, wth S$391.04 blln n th 2024 fscl yr

In [128]:
a="Apple Inc. is an American multinational corporation and technology company headquartered in Cupertino, California, in Silicon Valley. It is best known for its consumer electronics, software, and services . Founded in 1976 as Apple Computer Company by Steve Jobs, Steve Wozniak and Ronald Wayne, the company was incorporated by Jobs and Wozniak as Apple Computer, Inc. the following year. It was renamed Apple Inc. in 2007 as the company had expanded its focus from computers to consumer electronics. Apple is the largest technology company by revenue, with US$391.04 billion in the 2024 fiscal year"
b={'a','e','i','o','u','A','E','I','O','U'}

res=''
for i in a:
    if i not in b:
        res+=i
print(res)

ppl nc. s n mrcn mltntnl crprtn nd tchnlgy cmpny hdqrtrd n Cprtn, Clfrn, n Slcn Vlly. t s bst knwn fr ts cnsmr lctrncs, sftwr, nd srvcs . Fndd n 1976 s ppl Cmptr Cmpny by Stv Jbs, Stv Wznk nd Rnld Wyn, th cmpny ws ncrprtd by Jbs nd Wznk s ppl Cmptr, nc. th fllwng yr. t ws rnmd ppl nc. n 2007 s th cmpny hd xpndd ts fcs frm cmptrs t cnsmr lctrncs. ppl s th lrgst tchnlgy cmpny by rvn, wth S$391.04 blln n th 2024 fscl yr