In [2]:
#while loop
n=0 #innitilize
while n<5:
    print("hello")
    n+=1 #update
else:
    print("end")

hello
hello
hello
hello
hello
end

In [4]:
# control statement   --> break continue  pass

n=0
while n<5:
    if n==2:
        break
    else:
        print("hello")
    n+=1

hello
hello

In [16]:
for i in 'vishal':
    if i=='s':
        print(i)
    pass

s

In [64]:
for i in range(0,6):
    for j in range(0,i):
        print("* ", end="")
    print()

for i in range(6,0,-1):
    for j in range(0,i):
        print("* ", end="")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input("enter the value of n"))
a=0
b=1
print(a,end=" ")
print(b,end=" ")
for i in range(n):
    ab=a+b
    print(ab,end=" ")
    a=b
    b=ab

1 2 3 5 8

In [ ]:
# function

def add():
    return a+b
add()

hello

In [ ]:
#with parameter without return type
def si(p,r,t):
    print((p*r*t)/100)
si(1000,5,12)

600.0

In [ ]:
#without parameter with reture type

def si():

    p=10000
    r=12
    t=12
    return((p*r*t)/100)
si()

14400.0

In [47]:
# with parameter and with return type

def si(p,r,t):
    return(p*r*t)
s=si(1000,12,1)
print(s)

12000

In [48]:
from ass import add


a=add()
print(a)

30

In [55]:
# count occarance of target
def occ(l,tar,cnt):
    for i in l:
        if i==tar:
            cnt+=1
    return cnt
cnt=0
l=[1,2,3,4,5,5,5]

result=occ(l,5,cnt)
print(result)

3

In [ ]:
def avg(l,n,sum):
    for i in l:
        sum+=i
    av=sum/(len(l))
    return av
l=[1,2,3,4,5]
sum=0
   
result=avg(l,n,sum)
print(result)

3.0

In [68]:
def data(name,age):
    print(f' hello {name} you are {age}')
data(age=12,name='vish')

 hello vish you are 12

In [71]:
def fun(name ,*a):
    print(name)
    print(a)
fun('abc')

abc
()

In [76]:
def fun(name ,**a):
    print(name)
    print(a)
fun('abc' ,na='vishal')

abc
{'na': 'vishal'}

In [77]:
def addition(a,b):

    """this function takes two values and add them"""
    return a+b

addition(23,45)

68

In [78]:
help(addition)

Help on function addition in module __main__:

addition(a, b)
    this function takes two values and add them

In [80]:
addition.__doc__

'this function takes two values and add them'

In [81]:
def data(a:int,b:str)-> str:
    """comments"""
    return f'intger= {a} ,string={b}'
print(data(10,20))

intger= 10 ,string=20

In [82]:
data.__annotations__

{'a': int, 'b': str, 'return': str}

In [84]:
def comman(l1,l2):
    l3=[]
    for i in l2:
        if i in l1:
            l3.append(i)
    print(l3)

l1=[11,10,22,20,35,67]
l2=[22,30,35,11]
print(comman(l1,l2))

[22, 35, 11]
None

In [90]:
def un(l1,l2):
    l3=[]
    for i in l1:
        if i not in l3:
            l3.append(i)
    for i in l2:
        if i not in l3:
            l3.append(i)
    return l3

l1=[11,10,22,20,35,67]
l2=[22,30,35,11]
res=un(l1,l2)
print(res)

[11, 10, 22, 20, 35, 67, 30]

In [91]:
def dif(l1,l2):
    l3=[]
    for i in l1:
        if i not in l2:
            l3.append(i)
    return l3 

l1=[11,10,22,20,35,67]
l2=[22,30,35,11]
res=dif(l1,l2)
print(res)

[10, 20, 67]

In [ ]:
def sy(l1,l2):
    l3=[]
    for i in l1:
        if i not in l2:
            l3.append(i)
    for i in l2:
        if i not in l1:
            l3.append(i)
    return l3    
l1=[11,10,22,20,35,67]
l2=[22,30,35,11]
res=sy(l1,l2)
print(res)

[10, 20, 67, 30]

In [96]:
x=10

def num():
    # global x
    x=10
    x=x+30
    print(x,"inside function")
num()
print(x)

40 inside function
10